/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.game-area {
  position: relative;
  width: 1000%;
  height: 600px;
  background: skyblue; /* Sky blue background */
  overflow: hidden;
}

.santa {
  position: absolute;
  bottom: 0px;
  left: 50px;
  font-size: 100px;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.ground {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: green;  /* Green ground */
}
